/*DEBUG LAYOUT*/
.debug{
  background-color: lightcoral;
  border: 1px solid red;
}

.debug2{
  background-color: aliceblue;
  border: 1px solid black;
}

/*Colori Cubo(?)*/
.bianco{
  color: aliceblue;
}

.nero{
  color: black;
}

.rosso{
  color: #cc1a26;
}

.arancione{
  color: #e4862a;
}

.marrone{
  color: #6b4328;
}

.argento{
  color: #bdbdbd;
}

.tappeto{
  color: #917979;
}

.verde{
  color: #0d4f5c;
}

.giallo{
  color: #fcd66c;
}

.blu{
  color: #42a3ef;
}

/*CSS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Id header*/
#buttonspan{
  font-size: 12px;
}

#s39{
  color: yellowgreen;
  font-weight: 700;
}

#title{
  position: absolute;
  top: 300px;
}

/*class header*/
.jumbo{
  height: 700px;
  width: auto;
  background-image: url('img/home-background-hero-scaled.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 600px;
}

.roundbtn{
  border-radius: 50%;
  background-color: #cc1a26;
  cursor: pointer;
  transition: all 1s;
}

.roundbtn:hover{
  transition: all 1s;
  background-color: #0d4f5c;
}

.btn-head1,
.btn-head2,
.roundbtn{
  height: 45px;
  width: 45px;
  border: none;
  text-align: center;
}

.fa-plus{
  color: aliceblue;
  font-size: 30px;
}

.btn-head1{
  top: 100px;
  background-color: aliceblue;
  border-radius: 10px;
}

.btn-head2{
  top: 150px;
  background-color: aliceblue;
  border-radius: 10px;
}

.btnred{
  color: aliceblue;
  background-color: #cc1a26;
  border: none;
  border-radius: 20px;
  width: 150px;
  transition: all 2s;
}
.btnred:hover{
  transition: all 1s;
  background-color: #0d4f5c;
}