/*postilla: provare a creare delle sezioni in cui inserire i singoli elementi CSS (formato immagini, dimensioni container ecc...)*/


/*DEBUG LAYOUT*/
.debug{
  background-color: lightcoral;
  border: 1px solid red;
}

.debug2{
  background-color: aliceblue;
  border: 1px solid black;
}

/*Colori Cubo(?)*/
.bianco{
  color: aliceblue;
}

.nero{
  color: black;
}

.rosso{
  color: #cc1a26;
}

.arancione{
  color: #e4862a;
}

.marrone{
  color: #6b4328;
}

.argento{
  color: #bdbdbd;
}

.tappeto{
  color: #917979;
}

.verde{
  color: #0d4f5c;
}

.giallo{
  color: #fcd66c;
}

.blu{
  color: #42a3ef;
}

/*CSS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}


/*Id header*/
#buttonspan{
  font-size: 12px;
}

#s39{
  color: yellowgreen;
  font-weight: 700;
}

#title{
  position: absolute;
  top: 300px;
}

/*class header*/
.jumbo{
  height: 700px;
  width: auto;
  background-image: url('img/home-background-hero-scaled.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.roundbtn{
  border-radius: 50%;
  background-color: #cc1a26;
  cursor: pointer;
  transition: all 1s;
}


.btn-head1,
.btn-head2,
.roundbtn{
  height: 45px;
  width: 45px;
  border: none;
  text-align: center;
}

.fa-plus{
  color: aliceblue;
  font-size: 30px;
}

.btn-head1{
  top: 100px;
  background-color: aliceblue;
  border-radius: 10px;
}

.btn-head2{
  top: 150px;
  background-color: aliceblue;
  border-radius: 10px;
}


.btnred{
  color: aliceblue;
  background-color: #cc1a26;
  border: none;
  border-radius: 20px;
  width: 150px;
  transition: all 2s;
}

/* header hover */

.roundbtn:hover{
  transition: all 1s;
  background-color: #0d4f5c;
}

.btn-head1:hover,
.btn-head2:hover{
  height: 50px;
  width: 50px;
  font-weight: 500;
  font-size: 18px;
}

.btnred:hover{
  transition: all 1s;
  background-color: #0d4f5c;
}

/* Id main*/
#polpetta{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}

#toggle{
  position: absolute;
  background-color: white;
  height: 100px;
  width: 100%;
  top: -20px;
  display: flex;
  justify-content: space-around;
  line-height: 100px;
  font-weight: 500;
}

#checks{
  font-size: 40px;
}

#large{
  display: block;
  font-weight: 700;
  font-size: 4.5em;
  line-height: 100%;
}

#no-margin{
  font-weight: 700;
  font-size: 2.5rem;
}

/* class main*/

.pop{
  justify-content: space-between;
  text-align: center;
}

.sc-card{
  width: calc(100% / 3 - 15px);
  height: 730px;
}

.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  line-height: 66px;
}

.circle{
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.viewcart{
  font-weight: 700;
  font-size: 20px;
  position: fixed;
  left: -15px;
  bottom: -50px;
}


.sc-card img{
  width: 100%;
  opacity: 1;
  transition: .5s ease;
}

.btng{
  height: 30px;
  font-size: 15px;
}

.first{
  height: 500px;
  overflow: hidden;  
}

.first-order{
  width: 100%;
  height: 120%;
}

.cardmain{
  height: 300px;
}

.fourcard{
  height: 90%;
  width: calc(100% / 4 - 15px);
  margin: auto;
  position: relative;
}

.fourcard img{
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

.midd{
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .5s ease;
}

.category{
  text-align: center;
  position: fixed;
  left: -40px;
  font-weight: 700;
  font-size: 40px;
}

.category2{
  text-align: center;
  position: fixed;
  left: -20px;
  font-weight: 700;
  font-size: 40px;
}

.category-small{
  text-align: center;
  position: fixed;
  left: 20px;
  font-weight: 700;
  font-size: 40px;
}

.center{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 40px;
}

.centerb{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: 600;
}

.second{
  position: relative;
}

.app-order{
  width: 100%;
}

.app-store{
  position: absolute;
  z-index: 10;
  left: 110px;
  bottom: 160px;
  height: 80px;
  cursor: pointer;
}

.play-store{
  position: absolute;
  z-index: 10;
  bottom: 160px;
  left: 380px;
  height: 80px;
  cursor: pointer;
}

.app-store-title{
  position: absolute;
  bottom: 280px;
  left: 110px;
}

.sc-card2{
  height: 730px;
  width: calc(100% / 2 - 10px);
  margin: auto;
}

.sc-card2 img{
  width: 100%;
  height: 70%;
}

/* main hover*/

.sc-card:hover .middle{
  opacity: 1;
}

.sc-card:hover img{
  opacity: .5;
}

.fourcard:hover .midd{
  opacity: 1;
}

.fourcard:hover img{
  opacity: .5;
}

/* Class footer*/

.foot{
  height: 900px;
  background-image: url('img/footer-background-scaled.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.menu{
  width: calc(100% / 6);
}

.menu ul{
  list-style: none;
}

.menu ul li h5{
  margin-bottom: 30px;
}

.menu ul li h6{
  line-height: 40px;
}

.bold{
  font-weight: 700;
}

.footnav{
  position: absolute;
  top: 50px;
  left: 100px;
  height: 300px;
}

.btnbadge img{
  height: 70px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 20px;
}

.centre{
  text-align: center;
}

.sold{
  position: absolute;
  left: 70px;
}

.firstorder{
  position: absolute;
  margin-top: 10px;
  top: 250px;
  left: 100px;
  text-align: center;
}

.sold img{
  height: 200px;
}

.foot-top{
  height: 500px;
}

.foot-bottom{
  text-align: center;
  align-items: center;
}

.foot-bottom img{
  height: 40px;
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
  transform: translate(-10%);
}

input{
  border-radius: 20px;
  padding: 4px;
  border: none;
}

.downicon{
  list-style: none;
  font-size: 20px;
}

.downicon li{
  margin-left: 35px;
}

.downicon li i{
  cursor: pointer;
}

.z{
  font-size: smaller;
}

.z.giallo{
  font-weight: 800;
}

/* footer hover */

.btnbadge img:hover{
  border: 2px solid #fcd66c;
}

.menu ul li h6:hover{
  color: #fcd66c;
}

li i:hover{
  color: #e4862a;
}